@keyframes song-name-animation1 {
    0%{
        transform: translateX(0%);

    }
    30%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    }

}
.song-name-animation1{
    animation: song-name-animation1 10s linear;
    animation-iteration-count:infinite;

}

html, body{
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(50%);
    background-color: black;
}
a{
    text-decoration: none;
    color:inherit;
}
.reproductor {
    display: flex;
    width: 420px;
    height: 200px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    gap: 12px;
    border-radius: 9px;

}
.reproductor img{
    width: 200px;
    height: 200px;
    border-radius: 9px;
    object-fit: cover;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, .7);
}
.elementos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.elementos .spotify-icon{
    color: white;
    font-size: 34px;
    margin: 0;
    margin-bottom: auto;
    margin-left: auto;
    transition: all .3s;

}
.elementos .spotify-icon:hover{
    scale: 1.05;
    cursor: pointer;
}
.elementos .copy{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-left: 16px;

}
.elementos .copy .song-name{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    width: 240%;
    display: flex;

}
.elementos .copy .song-name .song-name1{
    margin: 0;
    width: 100%;
}
.elementos .copy .song-name .song-name2{
    margin: 0;
    width: 100%;
}
.elementos .copy .song-name:hover{
    text-decoration: underline;
}

.elementos .copy .artist{
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    color: hsl(0, 0%, 70%);

}
.elementos .copy .artist span:hover{
    text-decoration: underline;
    cursor: pointer;

}

.elementos .copy i{
    margin: 0;
    font-size:20px;
    color: hsl(0, 0%, 70%);
    padding-top: 8px;
    transition: all .3s;
    cursor: pointer;
    width: 20px;
    
}

.elementos .music-stats{
    display: flex;
    margin-left: auto;
    gap: 15px;
    align-items: flex-end;
}

.elementos .music-stats > p{
    color: hsl(0, 0%, 70%);
    letter-spacing: 2px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.elementos .music-stats .btnMusic{
    border-radius: 50%;
    padding: 10px;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: all .3s;
}

.elementos .music-stats .btnMusic:hover{
    scale: 1.03;
    cursor: pointer;
}

